@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
:root {
    /* --primary-color: #6c757d; */
}

body {
    margin: 0;
    padding: 0;
}

.list-non-bullet {
    padding-top: 0.5rem;
    list-style: none;
    text-align: center;
}

.list-item-inline {
    display: inline;
    padding: 1 rem;
}

.navbar {
    background-color: black
}

.navbar .link {
    padding: 1rem 1rem;
    text-decoration: none;
    color: white;
}

.navbar .brand-name {
    font-size: 2rem;
    color: white;
    text-align: left;
    padding-left: 0.5rem;
}

.primary-btn {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    padding: 0.7rem;
    margin: 0.5rem;
}


/* 
img {
    width: 640px;
    height: 360px;
} */


/* about-us */


.about-us h1{
    text-align: center;
   padding:30px;
    
}

.about-us{
    background-color:#f2f2fc;
    padding: 40px;
}

.about-us .container img{
    align-content: center;
    max-width:100%;
    max-height:100%;
    border-style: none;
    height: 300px;
    padding-left: 20px;
    display: inline-block;
    margin-left: 120px;
}

/* about-us ending*/

.team{

    /* margin-top: 100px;
    margin-bottom: 200px;*/
    background-color: #EDEDED; 
    padding: 100px;


}

.team .title{
    margin-bottom: 79px;
}

.team .title h1,p{
    text-align: center;
    margin-bottom: 10px;
}



.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    flex:0 0 33.33%;
  }
  
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  
  .container {
    padding: 2px 16px;
  }







/* footer */
.footer {

    position:relative;
    right: 0;
    bottom:0;
    left:0;
    padding: 20px;
    background-color: #444;
    color: #FFF;
       
    
}

.footer h2 {

    color: #FFF;      
}

/* footer ending*/




/* copyright */
 .copyright {

    position:relative;
    
    right: 0;
    bottom:0;
    left:0;
    background-color: black;
    padding: 20px;
    color: #FFF;
       
    
}

.copyright p {

    color: #FFF;      
}

.copyright span{
    text-align: center;
}


.copyright span a {
    margin-right: 20px; 
    color: white;
    font-size: 25px;
} 
/* copyright ending*/