@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
:root {
    /* --primary-color: #6c757d; */
}

body {
    margin: 0;
    padding: 0;
}

.list-non-bullet {
    padding-top: 0.5rem;
    list-style: none;
    text-align: center;
}

.list-item-inline {
    display: inline;
    padding: 1 rem;
}

.navbar {
    background-color: white
}



.navbar .link {
    padding: 1rem 1rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.25rem;

}

.navbar .brand-name {
    font-size: 2.5rem;
    color: black;
    text-align: left;
    padding-left: 0.5rem;
    font-weight: bold;

}

.primary-btn {
    background-color: var(--primary-color);
    color: black;
    border-radius: 0.5rem;
    padding: 0.7rem;
    margin: 0.5rem;
}


/* 
img {
    width: 640px;
    height: 360px;
} */


/* why did we started start */

.why-start h1{
    font-weight: bold;
   
}

.why-start h1,
p {
    text-align: center;
}

.why-start .title {
    margin-bottom: 30px;
}

.why-start {
    padding: 50px;
}

.why-start .row .event-box {
    text-align: center;
    margin-bottom: 20px;
}

.why-start .row .event-box img {
    margin-bottom: 20px;
    margin-right: 20px;
    width: 100%;
}

.event-box h4 {
    text-align: center;
}

.why-start .btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
    background-color: black;
}

.why-start .btn:hover {
    color: red;
}


/* why did we started ending*/


/* about-us */

.about-us h2 {
    text-align: center;
}

.about-us h1 {
    text-align: center;
    padding: 30px;
}

.about-us {
    background-color: #414a4c;
    padding: 40px;
    color: white;
}

.about-us .container img {
    border-style: none;
    /* padding-left: 20px; */
    display: block;
}


/* about-us ending*/


/* our team starting */

.team {
    /* margin-top: 100px;
    margin-bottom: 200px;*/
    background-color: #EDEDED;
    padding: 100px;
}

.meet-team h1,
p {
    text-align: center;
}

.team img {
    width: 100%;
    vertical-align: middle;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.card_content {
    padding: 1rem;
}

.card_title {
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
    text-align: center;
}

.card_text {
    color: black;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}


/* our team ending */


/* footer */

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: #444;
    color: #FFF;
}

.footer h2 {
    text-align: center;
    color: #FFF;
}


/* footer ending*/


/* copyright */

.copyright {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    padding: 20px;
    color: #FFF;
}

.copyright p {
    color: #FFF;
}

.copyright span {
    text-align: center;
}

.copyright span a {
    margin-right: 20px;
    color: white;
    font-size: 25px;
}


/* copyright ending*/


/* maps starting */

.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
    border: 2px solid grey;
    
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.container-fluid {
    padding: 30px;
    /* background-color: #414a4c; */
}


/* maps ending */


/* meet our team startig */


.meet-team{
    background-color: black;
    color: white;
    padding: 50px;
    
}

.meet-team h1{
    font-size: 3rem;
    margin-bottom: 15px;
}

.meet-team p{
    font-size: 1.25rem;
    margin-bottom: 25px;
}


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    /* perspective: 1000px; */
    margin: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color:white;
    color: black;
    transform: rotateY(180deg);

}

.flip-card-back h1{
    text-align: center;
    margin-top: 40px;
}


.flip-card-back p{

    margin-top: 40px;
    
}
.cards-conatiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* meet our team ending */


/* blog starting */

.blog-container {
    padding: 20px;
    background-color: #414a4c;
    color: white;
 
}

.blog-container h1 {
    text-align: center;
}

.writer {
    text-align: right;
}


/* blogs ending */