@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');
:root {
    /* --primary-color: #6c757d; */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.list-non-bullet {
    padding-top: 0.5rem;
    list-style: none;
}

.navbar-nav {
    margin-left: auto;
    padding-right: 1rem;
}

.nav-div {
    padding-right: 1rem;
    color: black;
}

nav .navbar-nav li a {
    color: black !important;
}


/* .dropdown-menu-large {
    margin-left: 16px;
    margin-right: 16px;
    padding: 20px 0px;
    left: auto;
} */

.list-item-inline {
    display: inline;
    font-style: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar {
    background-color: white
}

.navbar .link {
    padding: 1rem 1rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
}

.navbar .brand-name {
    font-size: 2rem;
    margin-left: 0.5em;
    color: black;
    text-align: left;
    font-weight: bold;
}

.primary-btn {
    background-color: var(--primary-color);
    color: black;
    border-radius: 0.5rem;
    padding: 0.7rem;
    margin: 0.5rem;
}


/* 
img {
    width: 640px;
    height: 360px;
} */


/* why did we started start */

.why-start h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

.why-start h1,
p {
    text-align: center;
}

.why-start .title {
    margin-bottom: 30px;
}

.why-start {
    padding: 50px;
}

.why-start .row .event-box {
    text-align: center;
    margin-top: 15px;
}

.why-start .row .event-box img {
    /* margin-bottom: 20px; */
    margin-right: 20px;
    width: 100%;
}

.event-box h4 {
    text-align: center;
}

.why-start .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 1px 6px rgb(61 65 84 / 15%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.why-start .card:hover {
    /* opacity: .5; */
    transform: scale(1.05);
}

.why-start .btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
    background-color: black;
    margin-top: 25px;
}

.why-start .btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    color: white;
}


/* why did we started ending*/


/* about-us starting */


/* .about-us h2 {
    text-align: center;
}

.about-us h1 {
    text-align: center;
    padding: 30px;
}

.about-us {
    background-color: #414a4c;
    padding: 40px;
    color: white;
}

.about-us .container img {
    border-style: none;
    padding-left: 20px;
    display: block;
} */

.about-us {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.1);
}

.about-us h1 {
    font-weight: bold;
    font-size: 2.8rem;
    text-align: center;
}

.about-us .right-content h6 {
    text-align: center;
}

.about-us .left-image {
    text-align: center;
}

.about-us .left-image img {
    width: 400px;
    height: 350px;
}

.about img {
    width: 1750px;
    height: 200px;
}

.about-us-content {
    font-size: 1.3rem;
    /* font-weight: 600; */
}


/* about-us ending*/


/* objective start */

.objective {
    background-color: #f0f0f0;
    padding-top: 75px;
    padding-bottom: 55px;
}

.objective .left p {
    text-align: left;
}

.objective .right p {
    text-align: left;
}


/* objective end */


/* our team starting */

.team {
    background-color: #EDEDED;
    padding: 100px;
}

.meet-team h1 {
    padding-top: 30px;
    font-weight: 700;
    font-size: 2.5rem;
}

.meet-team h1,
p {
    padding-top: 1rem;
    text-align: center;
}

.team img {
    width: 100%;
    vertical-align: middle;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.card_content {
    padding: 1rem;
}

.card_title {
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
    text-align: center;
}

.card_text {
    color: black;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}


/* our team ending */


/* footer */

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: #444;
    color: #FFF;
}

.footer h2 {
    text-align: center;
    color: #FFF;
}


/* footer ending*/


/* copyright */

.copyright {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    padding: 20px;
    color: #FFF;
}

.copyright p {
    color: #FFF;
}

.copyright span {
    text-align: center;
}

.copyright span a {
    margin-right: 20px;
    color: white;
    font-size: 25px;
}


/* copyright ending*/


/* maps starting */

.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
    border: 2px solid grey;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.container-fluid {
    padding: 30px;
    /* background-color: #414a4c; */
}


/* maps ending */


/* meet our team startig */

.meet-team {
    background-color: black;
    color: white;
    /* padding: 50px; */
}

.meet-team h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.meet-team p {
    font-size: 1.25rem;
    margin-bottom: 25px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin: .5rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
    display: flex;
    justify-content: center;
}

.flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
}

.flip-card-back h2 {
    text-align: center;
    word-wrap: break-word;
    padding-top: 2rem;
}

.flip-card-back p {
    padding: 20px;
    text-align: center;
}

.cards-conatiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}


/* meet our team ending */


/* blog starting */


/* .blog-container {
    padding: 20px;
    color: black;
} */

.blog-container h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 30px;
}


/* .writer {
    text-align: right;
} */

#more {
    display: none;
}

.blogs h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.blogs .blog h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
}

.blogs .blog p {
    font-size: 19;
}

#more2 {
    display: none;
}

#more3 {
    display: none;
}


/* .blogs .blog .writer {
    font-weight: 600;
} */


/* .blogs .blog button {
    float: right
} */

#myBtn {
    float: left;
    background-color: black;
    color: white;
    text-align: right;
}

.blogBtn {
    background-color: black;
    color: white;
}

.badge {
    color: black;
    background-color: black;
}


/* blogs ending */


/* .portfolio .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  grid-gap: 0;
}
  
.portfolio .item{
  width: 100%;
  overflow: hidden;
  background: #000;
}
      
.portfolio img{
  opacity: 0.6;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
.portfolio img:hover{
  opacity: 1;
  transform: scale(1.03);
}

.portfolio .title h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
} */


/* faq start */

.faq {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.faq h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 0.25em;
    /* border-bottom: 1px solid silver; */
    /* border-image: linear-gradient(to right, transparent 20%, darkslategrey, transparent 80%)30; */
}

details {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid silver;
}

summary {
    list-style-type: circle;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    outline: none;
    color: silver;
}

summary::after {
    content: "+";
    padding: 0.5rem;
    position: absolute;
    right: 0.25rem;
    top: -0.5rem;
    color: whitesmoke;
}

details[open] {
    background: whitesmoke;
}

details[open] summary {
    color: dimgrey;
}

details[open] summary::after {
    content: "-";
}

.faq p {
    color: dimgrey;
    letter-spacing: 1.5;
}


/* faq end */


/* contact us */

.contact-us {
    padding: 3rem
}

.contact-us p {
    font-size: 19px;
}

.send-btn {
    margin-top: 2rem;
}

.my-4 {
    font-size: 4rem;
}


/* contact us ending */


/* join us section */

.join-us .image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-size: 100% 100%;
    background-image: url(../imgs/join.png);
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
}

.join-us .image .btn {
    background-color: black;
    border-radius: 1.5em;
    color: white;
    padding: 0.6em 2.1em;
    text-align: center;
    margin-bottom: 100px;
    cursor: pointer;
    font-size: 25px;
}

.join-us .image .btn:hover {
    transform: scale(1.1);
}

@media (max-width:767px) {
    .join-us .image {
        max-width: 100%;
        max-height: 200px;
    }
}

@media (max-width:767px) {
    .join-us .image .btn {
        background-color: black;
        border-radius: 1.5em;
        color: white;
        padding: 0.6em 0.9em;
        text-align: center;
        cursor: pointer;
        margin-bottom: 40px;
        font-size: 10px;
    }
}

.join-us .content .title {
    padding-top: 20px;
}

.join-us .content p {
    font-size: 1.25rem;
    padding: 20px;
}


/* donate section */

.donate .image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-size: 100% 100%;
    background-image: url(../imgs/donate.png);
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
}

.donate .image .btn {
    background-color: white;
    border-radius: 1.5em;
    color: black;
    font-weight: 500;
    padding: 0.6em 2.1em;
    text-align: center;
    margin-bottom: 100px;
    cursor: pointer;
    font-size: 25px;
}

.donate .image .btn:hover {
    transform: scale(1.1);
}

@media (max-width:767px) {
    .donate .image {
        max-width: 100%;
        max-height: 200px;
    }
}

@media (max-width:767px) {
    .donate .image .btn {
        background-color: white;
        border-radius: 1.5em;
        color: black;
        padding: 0.6em 0.9em;
        text-align: center;
        cursor: pointer;
        margin-bottom: 40px;
        font-size: 10px;
    }
}

.donate .content .title {
    padding-top: 20px;
}

.donate .content p {
    font-size: 1.25rem;
    padding: 20px;
}

.details {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    background-color: #f6f6f6;
}

.details h2 {
    font-weight: bolder;
    padding-bottom: 40px;
    padding-top: 40px;
    color: black;
}

#paytmbtn {
    background-color: black;
    color: white;
}

.details button {
    background-color: white;
    color: black;
    height: 45px;
    width: 49.5%;
    display: inline-block;
    font-size: 19px;
}

.details .demo1 {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 26px;
    font-weight: 400;
}