@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
:root {
    /* --primary-color: #6c757d; */
}

body {
    margin: 0;
    padding: 0;
}

.list-non-bullet {
    padding-top: 0.5rem;
    list-style: none;
    text-align: center;
}

.list-item-inline {
    display: inline;
    padding: 1 rem;
}

.navbar {
    background-color: black
}

.navbar .link {
    padding: 1rem 1rem;
    text-decoration: none;
    color: white;
}

.navbar .brand-name {
    font-size: 2rem;
    color: white;
    text-align: left;
    padding-left: 0.5rem;
}

.primary-btn {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    padding: 0.7rem;
    margin: 0.5rem;
}


/* 
img {
    width: 640px;
    height: 360px;
} */


.footer{

    position: absolute;
    right: 0;
    bottom:0;
    left:0;
    background-color: #524b4b;
    
      
}



/* footer */
.footer {

    position:relative;
    right: 0;
    bottom:0;
    left:0;
    padding: 20px;
    background-color: #444;
    color: #FFF;
       
    
}

.footer h2 {

    color: #FFF;      
}

/* footer ending*/




/* copyright */
 .copyright {

    position:relative;
    
    right: 0;
    bottom:0;
    left:0;
    background-color: black;
    padding: 20px;
    color: #FFF;
       
    
}

.copyright p {

    color: #FFF;      
}

.copyright span{
    text-align: center;
}


.copyright span a {
    margin-right: 20px; 
    color: white;
    font-size: 25px;
} 
/* copyright ending*/